docker {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g)'
}

profiles {
	standard {
		process.executor	=	'local'
		process.cpu		=	8
		process.memory		=	'16 GB'
	}

	hpc {
		process.executor	=	'local'
		process.cpu		=	32
		process.memory		=	'128 GB'
	}

}

params {
k2database = "${PWD}/k2_standard_08gb_20221209"
}

// nextflow run main.nf --reads </path/to/reads> --readsType <illumina/ont>
// curl https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20221209.tar.gz output k2_standard_08gb_20221209.tar.gz
// mkdir -p k2_standard_08gb_20221209
// tar xvf k2_standard_08gb_20221209.tar.gz -C k2_standard_08gb_20221209